.image-section-container {
  display: flex;
  gap: 15px;
}

.image-card {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: white;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* Default sab same size */
  min-height: 444px;
  transition: all 0.4s ease;
}

/* Hover effect — hovered card large, baaki chhote */
.image-card:hover {
  flex: 2;
}

.image-card:not(:hover) {
  flex: 0.8;
}

.card-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 80%;
  transition: opacity 0.3s ease;
}

.card-content h2 {
  font-size: 2rem;
  margin: 0;
}

.card-content h4 {
  font-size: 1rem;
  margin: 15px 0;
}

.card-content p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);

  text-align: center;
  transition: opacity 0.3s ease;
  color: #FFF;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.hidden-content {
  opacity: 0;
}

.image-card:hover .hidden-content {
  opacity: 1;
}

.image-card:hover .vertical-text {
  opacity: 0;
}

.slide_heading {
  color: #FFF;
  margin-top: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;

  line-height: normal;
  text-transform: uppercase;
}

.slide_subheading {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}